.btn {
  cursor: pointer;
  &.btn-small {
    height: 35px;
    font-size: 1em;
  }
  &.btn-big {
    padding: 10px 15px;
    font-size: $font-size-large;
  }
  &.btn-primary {
    color: $white;
    background-color: $grey;
    border: $grey;
  }
}
