body.modal-open {
  overflow: hidden;
}

.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  visibility:visible;
  background-color: rgba(22,22,22,0.5);
  .modal-container {
    background:#e1e1e1;
    margin: 0 auto;
    width: 300px;
    position:relative;
    z-index:41;
    top: 25%;
    padding:30px;
  }
  .modal-title {
    margin-bottom: 0;
  }
}
